
ul{
  display: flex;
  justify-content: space-evenly;
 
  font-size: 30px;
  
}


main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.large-box {
  width: 960px;
  margin-bottom: 20px;
}

.medium-box {
 width: 960px;
margin-bottom: 20px;



}
#mid-box {
  width: 990px;
  margin-left: auto;
  display: flex;
 

}
#container {
  display: flex;
  width: 960px;
 
}
#lorem-container {
margin-left: 20px;
margin-bottom: 25px;
font-size: 28px; 
justify-content: space-around;

}
#button {
  background-color: black;
  border: 2px;
  color: white;
  padding: 16px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#button:hover{
  background-color: aqua;
}
p{
  padding-bottom: 30px;
}
h4 {
  display: block;
  font-size: 1em;
 
  margin-bottom: .5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}